# Ignore everything
*

# Don't ignore .gitignore
!.gitignore

# Don't ignore the LICENSE file
!LICENSE

# Don't ignore xml files defining various configurations
!*.xml
!jobs/
!jobs/*/
!jobs/*/config.xml
